<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/webAutos.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script> 
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
        </script>
</head>
<body>
    <header>
        <nav>
            <div id="arriba"><h1 id="Log">Venta de Vehículos</h1></div>
        </nav>     
    </header>
<hr> <br>
    {% for post in posts %}
    <div id="flip"><h1><a>{{ post.titulo }}</a></h1></div>
    <div id="panel">
        <p>Marca: {{ post.Marca}}</p>
        <p>Modelo: {{ post.Modelo}}</p>
        <p>Año del automovil: {{ post.Año_automovil}}</p>
        <p>Color: {{ post.Color}}</p>
        <p>Numero de puertas: {{ post.Numero_puertas}}</p>
        <p>Descripcion: {{ post.Descripcion}}</p>
        <p>Fecha de publicación: {{ post.Fecha_publicacion }}</p>
        <p>Precio: {{ post.Precio|linebreaksbr }}</p>
    </div>
{% endfor %}


</body>
</